#menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 15%;
    height: 100%;
    background-color: #333333;
    position: fixed;
    font-size: 30px;
    padding: 0;
    color:black;
    font-size: x-large;
    
}
#men{
    padding: 0%;
    margin: 0%;
    height: 100% ;
    /* background-color: #ecf0f5; */
    position: sticky;

    
}
.position-absolute {
    
  position: absolute !important;
  backdrop-filter: blur(6px);

}
.swal2-popup {
  font-size: 1.4rem !important;
  font-family: Georgia, serif;
}
#empty{
    width: 55%;
    float: left;
}
button {
  font-family: 'Raleway', sans-serif;
    width: 15%;
    height: auto;   
   
}

i{
    padding: 2%;
}
li a{
    color:whitesmoke;
    display: block;
    padding: 8px 8px;
    text-decoration: none;
    background-color: #333333
}
li a:hover {
    background-color: rgb(175, 164, 168);
    color: white;
}
ul li a:active{
    background-color: palevioletred;
    color: white;

}
.flex-container {
    margin-left: 2%;
    margin-right: 5%;
    float: left;
    padding: 10px, 30px;    
    margin-top: -20px;   
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #ecf0f5; */ 
    height: 100%;
    width: 95%;
}

p{
    font-size: 20px;
    text-align: justify;
    margin: 20px;
    padding: 15px;
}
ol li{
    font-size: 20px;
    padding: 3px;
}

h1 {
    padding: 0%;
    margin: 0%;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    
}
h2, h3{
    padding: 20px;  
    margin: 0%;
    /* background-color: #ecf0f5; */
    display: block;

}

.card{
  /* background-color: #ecf0f5; */
  
  position: absolute;
  width:200px;
        top: 0px;
        left:0px;

}
.cam{
  top: 0px;
  left:0px;
  position: absolute;

}

ol #within {
    font-size: 20px;
    text-align: justify;
    margin: 20px;
    

}
li ol {
    margin: inherit;
    padding: inherit;
}
#procedure{
    font-size: 20px;
    text-align: justify;
    margin: 3%;
    padding: 1%;
    
}
#procedure li{
    padding: 1%;
}
#links li a{
    /* background-color: #ecf0f5; */
    color: #333333;
}
#links li a:hover{
    color: orange;
    
}
.refer {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
html, body{
    /* background-color: #ecf0f5; */
    padding: 0%;
    margin: 0%;    
    
    
}
ol{
    padding: 60px;
}
#hub {
  
    margin-left: 400px;
}
#row1
{
    
    margin-left: 100px;
    
}
#row3{
    margin-left: 90px;

}
#net
{
    position: absolute;

}


 .split {
    height: 100%;
   
    position: fixed;
    
   
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {

    width: 25%;
  }
  
  .right {

   float: right;
    margin-left: 30%;
    padding: 0%;
    width: 60%;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered img {
    width: 150px;
    border-radius: 50%;
  }
  form{
      margin-bottom: 20px;
  }
  #button1
  {
      padding: 5px;
    
  }
  #button2
  {
      padding: 5px;
    
  }
  .sim{
    position: absolute;
    top:320px;
    left:260px;
    background-color:#ffd803;
    color:#272343;
    border-radius: 6px;
    font-size: 18px;
    height:auto;
    width:180px;
    font-weight: bold;
    float:left;
  }
  .res
  {
    
    top:320px;
    background-color:#ffd803;
    color:#272343;
    border-radius: 6px;
    font-size: 18px;
    height:auto;
    width:120px;
    font-weight: bold;
  }
  ul 
  {
      list-style-type: none;
  }
 
 #dragdrop img{  
     padding-bottom: 8%;
     
     }
     #dragdrop li{
         font-size: x-large;
     }

     .wrapper .glyphicon {
        position: absolute;
        top: 285px;
        left: 750px;
     }
     .wrapper1 {
        position: absolute;
        top: 200px;
        left:230px;
     }
     .w1{
      position: absolute;
        top: 180px;
        left:260px;

     }
     .w2{
      position: absolute;
        top: 200px;
        left:260px;

     }
     .w3{
      position: absolute;
        top: 220px;
        left:260px;

     }
     .w4{
      position: absolute;
        top: 240px;
        left:260px;

     }
     .w5{
      position: absolute;
        top: 260px;
        left:260px;

     }
     .wr6{
      position: absolute;
        top: 280px;
        left:30px;

     }
     .wr1{
      position: absolute;
        top: 180px;
        left:30px;

     }
     .wr2{
      position: absolute;
        top: 200px;
        left:30px;

     }
     .wr3{
      position: absolute;
        top: 220px;
        left:30px;

     }
     .wr4{
      position: absolute;
        top: 240px;
        left:30px;

     }
     .wr5{
      position: absolute;
        top: 260px;
        left:30px;

     }
     .w6{
      position: absolute;
        top: 280px;
        left:260px;

     }
     .wrl1{
      position: absolute;
        top: 180px;
        left:50px;

     }
     .wrl2{
      position: absolute;
        top: 200px;
        left:50px;

     }
     .wrl3{
      position: absolute;
        top: 220px;
        left:50px;

     }
     .wrl4{
      position: absolute;
        top: 240px;
        left:50px;

     }
     .wrl5{
      position: absolute;
        top: 260px;
        left:50px;

     }
     .wrl6{
      position: absolute;
        top: 280px;
        left:50px;

     }
     .wrr1{
      position: absolute;
        top: 180px;
        left:280px;

     }
     .wrr2{
      position: absolute;
        top: 200px;
        left:280px;

     }
     .wrr3{
      position: absolute;
        top: 220px;
        left:280px;

     }
     .wrr4{
      position: absolute;
        top: 240px;
        left:280px;

     }
     .wrr5{
      position: absolute;
        top: 260px;
        left:280px;

     }
     .wrr6{
      position: absolute;
        top: 280px;
        left:280px;

     }
     .wm1{
      position: absolute;
        top: 140px;
        left:30px;

     }
     .wm2{
      position: absolute;
        top: 140px;
        left:260px;

     }
     .wc1{
      position: absolute;
        top: 50px;
        left:523px;
     }
     .wc2{
      position: absolute;
        top: 50px;
        left:738px;
     }
     .wc3{
      position: absolute;
        top: 50px;
        left:950px;
     }
     .wc4{
      position: absolute;
        top: 585px;
        left:515px;
     }
     .wc5{
      position: absolute;
        top: 585px;
        left:728px;
     }
     .wc6{
      position: absolute;
        top: 585px;
        left:940px;
     }
     
     .rc1{
      position: absolute;
        top: 50px;
        left:520px;
     }
     .rc2{
      position: absolute;
        top: 50px;
        left:733px;
     }
     .rc3{
      position: absolute;
        top: 50px;
        left:945px;
     }
     .rc4{
      position: absolute;
        top: 585px;
        left:515px;
     }
     .rc5{
      position: absolute;
        top: 585px;
        left:730px;
     }
     .rc6{
      position: absolute;
        top: 585px;
        left:943px;
     }
     .wrapper2 {
        position: absolute;
        top: 100px;
        left:1280px;
     }
     .wrapper3 {
        position: absolute;
        top: 550px;
        left:740px;
     }
     .wrapper4 {
        position: absolute;
        top: 550px;
        left:1010px;
     }
     .wrapper5 {
        position: absolute;
        top: 550px;
        left:1290px;
      }
      .wrapper9{
        position: absolute;
        top:100px;
        left:920px;
      }
      .wrappern{
       margin: auto auto auto auto;
     
      }
      #d1{
        position: absolute;
        top:70px;
        left:660px;
        visibility: hidden;
      }
      #d2{
        position: absolute;
        top:70px;
        left:900px;
        visibility: hidden;
      }
      #d3{
        position: absolute;
        top:70px;
        left:1150px;
        visibility: hidden;
      }
      #d4{
        position: absolute;
        top:505px;
        left:660px;
        visibility: hidden;
      }
      #d5{
        position: absolute;
        top:505px;
        left:900px;
        visibility: hidden;
      }
      #d6{
        position: absolute;
        top:505px;
        left:1190px;
        visibility: hidden;
      }
     .bulb{
       position:absolute;
       top:100px;
       left:680px;
     }
     body{
       /* background-color: #ecf0f5; */
       
     }
       .bulb1{
        visibility: hidden;
       position:absolute;
       top:420px;
       left:0px;
       margin-left: 1%;
       border:4px;
       border-radius: 4px;
       padding: 3px;
       font-family: sans-serif;
       font-size: 15px;
       box-shadow: 0px 8px 16px 0px rgba(0,0,1,1);
       z-index: 1;
       overflow: auto;
       width:420px;
         
     }    

        
     
           
     .btn {
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
      .btn-secondary {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
      }      
      .btn-lg, .btn-group-lg > .btn {
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: 0.3rem;
      }